*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: sticky !important;
    top: 0;
    z-index: 10;
}

.nav-logo-div .nav-logo{
    height: 170px;
    /* width: 170px; */
    margin-bottom: -109px;
}

.nav-logo-div .nav-logo img{
    width: 100%;
    height: 100%;
}

.nav-right{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.nav-right-info{
    margin-right: 3rem;
}

.nav-right-icon{
    margin-right: 2rem;
}
.nav-right-icon i{
    font-size: 2rem;
    border: 1px solid black;
}

.nav-right-icon i{
    color: #1177F2;
}

.nav-bottom{
    margin: 0 auto 0 auto;
}
.nav-bottom ul{
    display: flex;
    list-style: none;
}

.nav-bottom ul li{
    padding: 0 6rem 0 6rem;
}