*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
input{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}

img{
    cursor: pointer;
}

.nav-bar{
    display: flex;
    align-items: center;
}

nav{
    height: 100px;
    padding: 10px 2%;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-right .user-icon{
    width: 50px;
    margin-right: 25px;
    border-radius: 50%;
}

.nav-left .web-logo{
    width: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-left span{
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(0, 169, 255);
}

.nav-middle{
    margin-left: 11rem;
}

.nav-middle a{
    margin-left: 30px;
    color: black;
    border-radius: 3px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #413f3f;
}

.nav-middle a:hover{
    background-color: #5272F2;
    color: white;
    font-weight: 600; 
}


.side-login-page{
    height: 67%;
    position: absolute;
    left: 50%;
    top: 16%;
    display: none;
}

.side-login-page-block{
    z-index: 9;
    display: block;
}

.side-login-page{
    padding: 4rem 1rem 5rem 3rem;
    background-color: rgb(245,247,248);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-group{
    display: flex;
    align-content: center;
}

.form-group .icon{
    margin: 0.5rem 0.9rem auto 0;
}

.form-group .user-details{
    display: flex;
    flex-direction: column;
}

.form-group .user-details label{
    font-size: 14px;
    color: #aeaeae;
    font-family: 'TradeGothic LT';
    font-weight: 500;
    margin-bottom: 0;
}

.user-details input{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(255, 213, 0);
    background: transparent;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    width: 150%;
}

.side-login-page .login-page .login-button{
    margin-left: 11rem;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    background: #189BE8;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
